
<div class="mainclock">
  <div class="au_font">
    <div class="sidebyside">
      Sydney
    </div>
    <div class="sidebyside alignleft">
      {{sydney_time}}
    </div>
  </div>
  <div class="gmt_font">
    <div class="sidebyside">
      London
    </div>
    <div class="sidebyside alignleft">
      {{london_time}}
    </div>
  </div>
  <div class="ce_font">
    <div class="sidebyside">
      Paris
    </div>
    <div class="sidebyside alignleft">
      {{paris_time}}
    </div>
  </div>
</div>

